:root {
  --green: #198754;
  --dark: #212529;
  --gradient: linear-gradient(45deg, rgb(9, 82, 48), rgb(20, 120, 60), #198754, rgb(19, 109, 67), rgb(24, 179, 107),
      rgb(26, 137, 85))
}

html {
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.overlay {
  min-height: 100vh;
  width: 100%;
}

.bg-login {
  background-image: url("./assets/loginBackground.png");
  background-attachment: fixed;
  background-position: center;

}

.bg-sign-up {
  background-image: var(--gradient);
  background-size: 400%;
  animation: bg-sign-up-animation 8s infinite alternate;
}

@keyframes bg-sign-up-animation {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}


.form-control:focus {
  border-color: #28a745 !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.website-title {
  color: var(--dark);
  font-size: 10rem;
  font-weight: 600;
  text-shadow: -0.33rem -0.33rem #1a8754af;
  letter-spacing: 5px;
  height: 220px;
}

@media only screen and (max-width: 991px) {
  .website-title {
    font-size: 5rem;
    text-shadow: -0.17rem -0.17rem #198754af;
    padding-bottom: 20px;
    letter-spacing: 10px;
  }
}

.form-design {
  width: 400px !important;
  box-shadow: 0px 0px 16px 8px #25252593;
}

.spaced-text {
  letter-spacing: 1px;
}